<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block  title %}
        <title>spiritual world</title>
    {% endblock %}
    {% block favicon %}
    <link rel="icon" type="image/x-icon" href="{{ asset('http://detectfire.info/public/frontend/img/fire.png') }}" />
    {% endblock %}
    {% block CSS %}
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
</head>
<body>
<div class="container">
    {% block body %}
        {% include 'header.html.twig' only %}

        {% set foo = app.request.getRequestUri() %}
        {{ foo }}
        {{ app.request.uri }}
        {% if foo is null %}
            {% include 'content/home.html.twig' %}
        {% endif %}


        {{ asset('../') }}


        {% include 'footer.html.twig' only %}
    {% endblock %}
</div>{#container#}

    {% block JS %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
</body>
</html>
{#{{ dump() }}#}